// Border Weights
$h2-border-weight-s: 1px;
$h2-border-weight-m: .5rem;
$h2-border-weight-l: 1rem;
// Colors
$h2-color-transparent: rgba(255, 255, 255, 0);
$h2-color-white: rgba(255, 255, 255, 1);
$h2-color-black: rgba(20, 20, 30, 1);
$h2-color-primary: #9D5CFF;
$h2-color-primary-light: #d7bdff;
$h2-color-primary-dark: #36106e;
$h2-color-secondary: #5CFFEE;
$h2-color-accent: #FF5C6D;
// Containers
$h2-container-width-s: 39rem;
$h2-container-width-m: 60rem;
$h2-container-width-l: 80rem;
$h2-container-width-full: none;
// Typography Scale
$h2-font-size-h1: 3.814697265625rem;
$h2-font-size-h2: 3.0517578125rem;
$h2-font-size-h3: 2.44140625rem;
$h2-font-size-h4: 1.953125rem;
$h2-font-size-h5: 1.5625rem;
$h2-font-size-h6: 1.25rem;
$h2-font-size-base: 1rem;
$h2-font-size-caption: 0.8rem;
// Gradients
// Media Queries (e.g. #{$query})
$h2-media-query-b: "screen";
$h2-media-query-s: "screen and (min-width: 48em)";
$h2-media-query-m: "screen and (min-width: 64em)";
$h2-media-query-l: "screen and (min-width: 100em)";
// Opacities
$h2-opacity-0: 0;
$h2-opacity-5: .5;
$h2-opacity-1: 1;
// Radius
$h2-radius-none: 0;
$h2-radius-rounded: 10px;
$h2-radius-pill: 50rem;
$h2-radius-circle: 100%;
$h2-radius-square: 0;
// Shadows
$h2-shadow-xs: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .2);
$h2-shadow-s: 0 0.25rem 0.5rem -0.05rem rgba(0, 0, 0, .2);
$h2-shadow-m: 0 0.4rem 0.7rem -0.1rem rgba(0, 0, 0, .2);
$h2-shadow-l: 0 0.55rem 1rem -0.2rem rgba(0, 0, 0, .2);
$h2-shadow-xl: 0 0.7rem 1.5rem -0.3rem rgba(0, 0, 0, .2);
// Whitespace
$h2-margin-none: 0;
$h2-margin-auto: auto;
$h2-margin-xxs: 0.4444444444444444rem;
$h2-margin-xs: 0.6666666666666666rem;
$h2-margin-s: 1rem;
$h2-margin-m: 1.5rem;
$h2-margin-l: 2.25rem;
$h2-margin-xl: 3.375rem;
$h2-margin-xxl: 5.0625rem;
$h2-negative-margin-xxs: -0.4444444444444444rem;
$h2-negative-margin-xs: -0.6666666666666666rem;
$h2-negative-margin-s: -1rem;
$h2-negative-margin-m: -1.5rem;
$h2-negative-margin-l: -2.25rem;
$h2-negative-margin-xl: -3.375rem;
$h2-negative-margin-xxl: -5.0625rem;
$h2-padding-xxs: 0.4444444444444444rem;
$h2-padding-xs: 0.6666666666666666rem;
$h2-padding-s: 1rem;
$h2-padding-m: 1.5rem;
$h2-padding-l: 2.25rem;
$h2-padding-xl: 3.375rem;
$h2-padding-xxl: 5.0625rem;
// Widths
$h2-width-100: 100%;
$h2-width-75: 75%;
$h2-width-50: 50%;
$h2-width-25: 25%;
$h2-width-0: 0;
$h2-width-auto: auto;
