[data-h2-bg-color*="MEDIAKEY(transparent)"] {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY(white)"] {
  background-color: white;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY(white[.2])"] {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY(black)"] {
  background-color: #14141e;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY(black[.8])"] {
  background-color: rgba(20, 20, 30, 0.8);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY(primary)"] {
  background-color: #9D5CFF;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY([light]primary)"] {
  background-color: #d7bdff;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY([dark]primary)"] {
  background-color: #36106e;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY(primary[.1])"] {
  background-color: rgba(157, 92, 255, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY([light]primary[.1])"] {
  background-color: rgba(215, 189, 255, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY([dark]primary[.1])"] {
  background-color: rgba(54, 16, 110, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY(secondary)"] {
  background-color: #5CFFEE;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY(accent)"] {
  background-color: #FF5C6D;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY(custom)"] {
  background-color: #ffff33;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a(transparent)"]:active {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a(white)"]:active {
  background-color: white;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a(white[.2])"]:active {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a(black)"]:active {
  background-color: #14141e;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a(black[.8])"]:active {
  background-color: rgba(20, 20, 30, 0.8);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a(primary)"]:active {
  background-color: #9D5CFF;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a([light]primary)"]:active {
  background-color: #d7bdff;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a([dark]primary)"]:active {
  background-color: #36106e;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a(primary[.1])"]:active {
  background-color: rgba(157, 92, 255, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a([light]primary[.1])"]:active {
  background-color: rgba(215, 189, 255, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a([dark]primary[.1])"]:active {
  background-color: rgba(54, 16, 110, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a(secondary)"]:active {
  background-color: #5CFFEE;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a(accent)"]:active {
  background-color: #FF5C6D;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:a(custom)"]:active {
  background-color: #ffff33;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h(transparent)"]:hover {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h(white)"]:hover {
  background-color: white;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h(white[.2])"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h(black)"]:hover {
  background-color: #14141e;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h(black[.8])"]:hover {
  background-color: rgba(20, 20, 30, 0.8);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h(primary)"]:hover {
  background-color: #9D5CFF;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h([light]primary)"]:hover {
  background-color: #d7bdff;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h([dark]primary)"]:hover {
  background-color: #36106e;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h(primary[.1])"]:hover {
  background-color: rgba(157, 92, 255, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h([light]primary[.1])"]:hover {
  background-color: rgba(215, 189, 255, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h([dark]primary[.1])"]:hover {
  background-color: rgba(54, 16, 110, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h(secondary)"]:hover {
  background-color: #5CFFEE;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h(accent)"]:hover {
  background-color: #FF5C6D;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:h(custom)"]:hover {
  background-color: #ffff33;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f(transparent)"]:focus {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f(white)"]:focus {
  background-color: white;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f(white[.2])"]:focus {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f(black)"]:focus {
  background-color: #14141e;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f(black[.8])"]:focus {
  background-color: rgba(20, 20, 30, 0.8);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f(primary)"]:focus {
  background-color: #9D5CFF;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f([light]primary)"]:focus {
  background-color: #d7bdff;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f([dark]primary)"]:focus {
  background-color: #36106e;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f(primary[.1])"]:focus {
  background-color: rgba(157, 92, 255, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f([light]primary[.1])"]:focus {
  background-color: rgba(215, 189, 255, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f([dark]primary[.1])"]:focus {
  background-color: rgba(54, 16, 110, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f(secondary)"]:focus {
  background-color: #5CFFEE;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f(accent)"]:focus {
  background-color: #FF5C6D;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:f(custom)"]:focus {
  background-color: #ffff33;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d(transparent)"]:disabled {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d(white)"]:disabled {
  background-color: white;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d(white[.2])"]:disabled {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d(black)"]:disabled {
  background-color: #14141e;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d(black[.8])"]:disabled {
  background-color: rgba(20, 20, 30, 0.8);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d(primary)"]:disabled {
  background-color: #9D5CFF;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d([light]primary)"]:disabled {
  background-color: #d7bdff;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d([dark]primary)"]:disabled {
  background-color: #36106e;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d(primary[.1])"]:disabled {
  background-color: rgba(157, 92, 255, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d([light]primary[.1])"]:disabled {
  background-color: rgba(215, 189, 255, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d([dark]primary[.1])"]:disabled {
  background-color: rgba(54, 16, 110, 0.1);
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d(secondary)"]:disabled {
  background-color: #5CFFEE;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d(accent)"]:disabled {
  background-color: #FF5C6D;
  transition: background-color 0.2s ease;
}

[data-h2-bg-color*="MEDIAKEY:d(custom)"]:disabled {
  background-color: #ffff33;
  transition: background-color 0.2s ease;
}