[data-h2-overlay*="MEDIAKEY(transparent)"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY(transparent)"]::before {
  background-color: rgba(255, 255, 255, 0);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY(transparent)"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY(white)"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY(white)"]::before {
  background-color: white;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY(white)"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY(white[.2])"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY(white[.2])"]::before {
  background-color: rgba(255, 255, 255, 0.2);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY(white[.2])"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY(black)"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY(black)"]::before {
  background-color: #14141e;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY(black)"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY(black[.8])"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY(black[.8])"]::before {
  background-color: rgba(20, 20, 30, 0.8);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY(black[.8])"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY(primary)"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY(primary)"]::before {
  background-color: #9D5CFF;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY(primary)"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY([light]primary)"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY([light]primary)"]::before {
  background-color: #d7bdff;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY([light]primary)"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY([dark]primary)"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY([dark]primary)"]::before {
  background-color: #36106e;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY([dark]primary)"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY(primary[.1])"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY(primary[.1])"]::before {
  background-color: rgba(157, 92, 255, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY(primary[.1])"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY([light]primary[.1])"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY([light]primary[.1])"]::before {
  background-color: rgba(215, 189, 255, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY([light]primary[.1])"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY([dark]primary[.1])"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY([dark]primary[.1])"]::before {
  background-color: rgba(54, 16, 110, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY([dark]primary[.1])"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY(secondary)"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY(secondary)"]::before {
  background-color: #5CFFEE;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY(secondary)"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY(accent)"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY(accent)"]::before {
  background-color: #FF5C6D;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY(accent)"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY(custom)"] {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY(custom)"]::before {
  background-color: #ffff33;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY(custom)"] > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a(transparent)"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a(transparent)"]:active::before {
  background-color: rgba(255, 255, 255, 0);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a(transparent)"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a(white)"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a(white)"]:active::before {
  background-color: white;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a(white)"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a(white[.2])"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a(white[.2])"]:active::before {
  background-color: rgba(255, 255, 255, 0.2);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a(white[.2])"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a(black)"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a(black)"]:active::before {
  background-color: #14141e;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a(black)"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a(black[.8])"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a(black[.8])"]:active::before {
  background-color: rgba(20, 20, 30, 0.8);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a(black[.8])"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a(primary)"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a(primary)"]:active::before {
  background-color: #9D5CFF;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a(primary)"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a([light]primary)"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a([light]primary)"]:active::before {
  background-color: #d7bdff;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a([light]primary)"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a([dark]primary)"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a([dark]primary)"]:active::before {
  background-color: #36106e;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a([dark]primary)"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a(primary[.1])"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a(primary[.1])"]:active::before {
  background-color: rgba(157, 92, 255, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a(primary[.1])"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a([light]primary[.1])"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a([light]primary[.1])"]:active::before {
  background-color: rgba(215, 189, 255, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a([light]primary[.1])"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a([dark]primary[.1])"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a([dark]primary[.1])"]:active::before {
  background-color: rgba(54, 16, 110, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a([dark]primary[.1])"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a(secondary)"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a(secondary)"]:active::before {
  background-color: #5CFFEE;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a(secondary)"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a(accent)"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a(accent)"]:active::before {
  background-color: #FF5C6D;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a(accent)"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:a(custom)"]:active {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:a(custom)"]:active::before {
  background-color: #ffff33;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:a(custom)"]:active > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h(transparent)"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h(transparent)"]:hover::before {
  background-color: rgba(255, 255, 255, 0);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h(transparent)"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h(white)"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h(white)"]:hover::before {
  background-color: white;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h(white)"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h(white[.2])"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h(white[.2])"]:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h(white[.2])"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h(black)"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h(black)"]:hover::before {
  background-color: #14141e;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h(black)"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h(black[.8])"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h(black[.8])"]:hover::before {
  background-color: rgba(20, 20, 30, 0.8);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h(black[.8])"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h(primary)"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h(primary)"]:hover::before {
  background-color: #9D5CFF;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h(primary)"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h([light]primary)"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h([light]primary)"]:hover::before {
  background-color: #d7bdff;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h([light]primary)"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h([dark]primary)"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h([dark]primary)"]:hover::before {
  background-color: #36106e;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h([dark]primary)"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h(primary[.1])"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h(primary[.1])"]:hover::before {
  background-color: rgba(157, 92, 255, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h(primary[.1])"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h([light]primary[.1])"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h([light]primary[.1])"]:hover::before {
  background-color: rgba(215, 189, 255, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h([light]primary[.1])"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h([dark]primary[.1])"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h([dark]primary[.1])"]:hover::before {
  background-color: rgba(54, 16, 110, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h([dark]primary[.1])"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h(secondary)"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h(secondary)"]:hover::before {
  background-color: #5CFFEE;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h(secondary)"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h(accent)"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h(accent)"]:hover::before {
  background-color: #FF5C6D;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h(accent)"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:h(custom)"]:hover {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:h(custom)"]:hover::before {
  background-color: #ffff33;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:h(custom)"]:hover > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f(transparent)"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f(transparent)"]:focus::before {
  background-color: rgba(255, 255, 255, 0);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f(transparent)"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f(white)"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f(white)"]:focus::before {
  background-color: white;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f(white)"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f(white[.2])"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f(white[.2])"]:focus::before {
  background-color: rgba(255, 255, 255, 0.2);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f(white[.2])"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f(black)"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f(black)"]:focus::before {
  background-color: #14141e;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f(black)"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f(black[.8])"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f(black[.8])"]:focus::before {
  background-color: rgba(20, 20, 30, 0.8);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f(black[.8])"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f(primary)"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f(primary)"]:focus::before {
  background-color: #9D5CFF;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f(primary)"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f([light]primary)"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f([light]primary)"]:focus::before {
  background-color: #d7bdff;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f([light]primary)"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f([dark]primary)"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f([dark]primary)"]:focus::before {
  background-color: #36106e;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f([dark]primary)"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f(primary[.1])"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f(primary[.1])"]:focus::before {
  background-color: rgba(157, 92, 255, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f(primary[.1])"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f([light]primary[.1])"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f([light]primary[.1])"]:focus::before {
  background-color: rgba(215, 189, 255, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f([light]primary[.1])"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f([dark]primary[.1])"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f([dark]primary[.1])"]:focus::before {
  background-color: rgba(54, 16, 110, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f([dark]primary[.1])"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f(secondary)"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f(secondary)"]:focus::before {
  background-color: #5CFFEE;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f(secondary)"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f(accent)"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f(accent)"]:focus::before {
  background-color: #FF5C6D;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f(accent)"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:f(custom)"]:focus {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:f(custom)"]:focus::before {
  background-color: #ffff33;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:f(custom)"]:focus > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d(transparent)"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d(transparent)"]:disabled::before {
  background-color: rgba(255, 255, 255, 0);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d(transparent)"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d(white)"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d(white)"]:disabled::before {
  background-color: white;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d(white)"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d(white[.2])"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d(white[.2])"]:disabled::before {
  background-color: rgba(255, 255, 255, 0.2);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d(white[.2])"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d(black)"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d(black)"]:disabled::before {
  background-color: #14141e;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d(black)"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d(black[.8])"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d(black[.8])"]:disabled::before {
  background-color: rgba(20, 20, 30, 0.8);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d(black[.8])"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d(primary)"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d(primary)"]:disabled::before {
  background-color: #9D5CFF;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d(primary)"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d([light]primary)"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d([light]primary)"]:disabled::before {
  background-color: #d7bdff;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d([light]primary)"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d([dark]primary)"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d([dark]primary)"]:disabled::before {
  background-color: #36106e;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d([dark]primary)"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d(primary[.1])"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d(primary[.1])"]:disabled::before {
  background-color: rgba(157, 92, 255, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d(primary[.1])"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d([light]primary[.1])"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d([light]primary[.1])"]:disabled::before {
  background-color: rgba(215, 189, 255, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d([light]primary[.1])"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d([dark]primary[.1])"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d([dark]primary[.1])"]:disabled::before {
  background-color: rgba(54, 16, 110, 0.1);
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d([dark]primary[.1])"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d(secondary)"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d(secondary)"]:disabled::before {
  background-color: #5CFFEE;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d(secondary)"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d(accent)"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d(accent)"]:disabled::before {
  background-color: #FF5C6D;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d(accent)"]:disabled > * {
  position: relative;
}

[data-h2-overlay*="MEDIAKEY:d(custom)"]:disabled {
  position: relative;
}
[data-h2-overlay*="MEDIAKEY:d(custom)"]:disabled::before {
  background-color: #ffff33;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease;
  width: 100%;
}
[data-h2-overlay*="MEDIAKEY:d(custom)"]:disabled > * {
  position: relative;
}